@model CalculatorHistoryViewModel

@{
    ViewBag.Title = "Calculator History";
    Layout = "_Layout";
}

<h2>Tax History</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Income</th>
        <th scope="col">Tax</th>
        <th scope="col">Calculator</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var history in Model.CalculatorHistory)
        {
            <tr>
                <th scope="row">@history.Timestamp</th>
                <td>@history.PostalCode</td>
                <td>@history.Income</td>
                <td>@history.Tax</td>
                <td>@history.Calculator</td>
            </tr>
        }
    </tbody>
</table> 