@model CalculatorHistoryViewModel

@{
    ViewBag.Title = "Calculator History";
    Layout = "_Layout";
}

@if(Model.ProcessingMessages != null && Model.ProcessingMessages.Any())
{

  foreach(var item in Model.ProcessingMessages)
  {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      @item
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  }

}

@if(Model.Errors != null && Model.Errors.Any())
{

  foreach(var item in Model.Errors)
  {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      @item
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  }

}

<h2>Tax History</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Income</th>
        <th scope="col">Tax</th>
        <th scope="col">Calculator</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var history in Model.CalculatorHistory)
        {
            <tr>
                <th scope="row">@history.Timestamp</th>
                <td>@history.PostalCode</td>
                <td>@history.Income</td>
                <td>@history.Tax</td>
                <td>@history.Calculator</td>
            </tr>
        }
    </tbody>
</table> 